body{
	background-color: #AFEEEE;

}

a{
	display: block;
	opacity: 1%;
	cursor: move;
}
textarea{
	overflow-y: scroll;
	cursor: move;
}
.display{
	display: block;
}
.displayLine{
	display: inline-block;
}
.div{
	background-color: #FFDAB9;
	display: table;
	cursor: move;
	float: left;
}
